/* Globalez */

html{
    font-size: 62.5%;
}

*, *:before, *:after{
    box-sizing: border-box;
}

body{
    background-color: #f2f2f2;
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

h3{
    font-family: 'PT Sans', sans-serif;
    background-color: #8b0606;
    padding: 1rem;
    color: #dadada;
    position: relative;
}

h3::after{
    content: '';
    position: absolute;
    background: #f2f2f2;
    height: 1px;
    width: 150rem;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
}

ul li {
    
    padding-bottom: 1rem ;
}

i{
    margin-right: 1rem;
}





/* CSS */


.container{
    width: 90%;
    height: 100vh;
    margin: 0 auto;
}

.cv{
    width: 100%;
    height: 15rem;
    background: linear-gradient(38deg, rgba(138,9,7,1) 6%, rgba(138,9,7,1) 26%, rgba(240,179,179,1) 89%, rgba(255,204,204,1) 98%); /* ff3.6+ */;
    position: relative;
}

.cv .perfil .foto{
    background: url('../images/perfil.png');
    background-size: cover;
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translateY(-50%);
    
}

.cv .informacion{
    color: #dadada;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    text-align: center;

}

.main{
    display: flex;
    justify-content: space-between;
    margin-top: 10rem ;
}

.main .datos ul li{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

.main .info-personal{
    flex: 0 0 40%;
}

.main .conociminetos{
    flex: 0 0 calc(60% - 5rem);
   
}

.cv {
    border: 1px solid red;
    width: 100%;
  }
  /*.Animacion*/
  .cv:hover .foto {
    animation-play-state: paused;
  }
  .foto { 
    margin: 20px;
    animation-name: cuadrado, rebote;
    animation-duration: 3s, .3s;
    animation-iteration-count: 2, 20;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-timing-function:linear, ease-in-out;
  }
  @keyframes cuadrado {
    0% {
      /*opacity: 1;*/
      left: 0;
    }
    100% {
      /*opacity: 0;*/
      left: calc(100% - 250px);
    } 
  }

  @keyframes rebote {
    /*0% {*/
    from {
      transform: translateY(0);
    }
 
    to {
      transform: translateY(100px) scale(1, .8);
    }
  }


@media (max-width: 800px){
    .main{
        flex-direction: column;
        
        margin-bottom: 1rem ;
    }
}

/* Section Portafolio */

section{
    margin-bottom: 10px;
}

.row{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 1rem;
   margin-bottom: 50px;

}

.row .col{
  background: #dadada;
  transition: .3s;
  
}

.row .col img{
    width: 100%;
}

.row .col:hover{
    transform: scale(1.1) translate(20px, 10px);

}

/* BUTTON */

.btn{
    border-radius: 1rem;
    margin: 1rem 0;
    display: inline-block;
    padding: 10px 20px;
    color: #dadada;
    text-decoration: none;
    margin-right: 1rem;
    box-shadow: 3px -3px 5px -1px rgb(87, 85, 85)inset  ;
    float: right;
    overflow: hidden;

}

.btn-primary{
    background: linear-gradient(135deg, rgba(201,20,0,1) 0%, rgba(194,69,46,1) 50%, rgba(194,69,46,1) 100%); ;
}

.btn:hover{
    background: rgba(194,69,46,1);
    box-shadow: 3px -3px 5px -1px #fff inset ;
}